@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: grapenuts;
    src: url(./assets/MabryPro.ttf);
}

:root {
    --primaryColor: #002361;
    --primaryHoverColor: #001f55;
    /*--primaryColor: #012C6E;*/
    /*--primaryHoverColor: #001f55;*/
    --backgroundWhite: #fff;
    --textWhite: #FFFFFF;
    --textBlack: #000;
    --lineColor: #ccc;
    --color-light: rgb(203 213 225);
    --color-mid: rgb(51 65 85);
    --color-dark: rgb(71 85 105);
}

* {
    font-family: "Inter Tight", sans-serif !important;
}





.bg-secondary {
    background: rgb(243, 246, 250);
}

.ant-segmented-item-label, .ant-form-item-label, .ant-picker-input:placeholder-shown, .ant-collapse-header-text, .ant-select-selection-item  {
    font-weight: 700 !important;
}

.ant-table-cell {
    font-weight: 500;
}

.custom-segmented .ant-segmented-item {
    transition: none;
}


.custom-segmented .ant-segmented-thumb {
    transition: none;
}


.title, .title-section {
    color: var(--primaryColor);
}

.bg-main {
    background-color: var(--primaryColor);
}

:where(.css-dev-only-do-not-override-j9bb5n).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--primaryColor) !important;
}

.ant-layout-content {
    background-color: var(--backgroundWhite) !important;
}

.ant-radio-button-checked {
    border-radius: 8px;
    background-color: transparent;
    border: none;
}

.ant-radio-button-checked:hover {
    color: var(--textBlack) !important;
}

.ant-radio-button-wrapper-checked {
    background-color: var(--backgroundWhite);
}

:where(.css-dev-only-do-not-override-1n5na2).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--backgroundWhite);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: var(--backgroundWhite);
}

.ant-btn-primary, .ant-radio-button-checked, .ant-radio-button-wrapper-checked {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.ant-btn-primary:hover {
    background-color: var(--primaryHoverColor) !important;
}

.ant-radio-button-wrapper-checked span {
    color: var(--textWhite) !important;
}

.ant-radio-button-checked {
    border-color: var(--primaryColor) !important;
}

.css-1sdt58x {
    border-right-width: 0px !important;
}

.card-currency {
    background-color: var(--primaryColor);
}

.calendar-section::-webkit-scrollbar {
    width: 0px;
}
.calendar-section {
    scrollbar-width: none;
}

.ps-sidebar-root {
    position: sticky !important;
    top: 0 !important;
}

.ps-sidebar-container {
    height: 100vh !important;
    font-size: 14px;
    background: url('./assets/sidebar-bg.svg'), var(--primaryColor) !important;
    color: var(--textWhite);
}

.ps-menu-icon {
    color: var(--primaryColor) !important;
}
.ps-menu-label {
    margin-left: 15px;
}

.css-1d00spe {
    border-right-width: 0px !important;
}

.ps-menu-button:hover {
    background-color: var(--primaryHoverColor) !important;
}

.ps-submenu-content {
    background-color: var(--primaryColor) !important;
}

.ps-sidebar-container::-webkit-scrollbar {
    width: 0px;
}

.ps-sidebar-container {
    scrollbar-width: none;
}

.ps-sidebar-container::-webkit-scrollbar-thumb {
    background: var(--textWhite);
    border-radius: 0px;
}

.ps-sidebar-container::-webkit-scrollbar-track {
    background: var(--textWhite);
}


/* Sidebar.css */

.pro-sidebar .pro-inner-list-item {
    position: relative;
}

.pro-sidebar .pro-inner-list-item .pro-item-content {
    padding-left: 20px;
}

.pro-sidebar .pro-sub-menu {
    position: relative;
    padding-left: 20px;
}

.pro-sidebar .pro-sub-menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--lineColor); /* Цвет линии */
}

.pro-sidebar .pro-sub-menu > .pro-inner-list-item:not(:last-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 50%;
    width: 20px;
    border-top: 1px solid var(--lineColor); /* Цвет линии */
}

.pro-sidebar .pro-sub-menu > .pro-inner-list-item:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 50%;
    width: 20px;
    border-top: 1px solid var(--lineColor); /* Цвет линии */
    border-bottom: 1px solid var(--lineColor); /* Цвет линии */
}
