@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primaryColor: #012C6E;
    --primaryHoverColor: #001f55;
}

* {
    font-family: "Roboto", sans-serif !important;
}

.title, .title-section {
    color: var(--primaryColor);
}


:where(.css-dev-only-do-not-override-j9bb5n).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: var(--primaryColor) !important;
}

.ant-radio-button-checked {
    border-radius: 8px;
    background-color: transparent;
    border: none;
}

.ant-radio-button-checked:hover {
    color: #000 !important;
}

.ant-radio-button-wrapper-checked {
    background-color: #fff;
}

:where(.css-dev-only-do-not-override-1n5na2).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
    background-color: #fff;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
    background-color: #fff;
}

.ant-btn-primary, .ant-radio-button-checked, .ant-radio-button-wrapper-checked {
    background-color: var(--primaryColor) !important;
    border-color: var(--primaryColor) !important;
}

.ant-btn-primary:hover {
    background-color: var(--primaryHoverColor) !important;
}

.ant-radio-button-wrapper-checked span {
    color: #fff!important;
}

.ant-radio-button-checked {
    border-color: var(--primaryColor) !important;
}

.css-1sdt58x {
border-right-width: 0px !important;
}

.card-currency {
    background-color: var(--primaryColor);
}

.calendar-section::-webkit-scrollbar {
width: 0px;
}
.calendar-section {
    scrollbar-width: none;
}

.ps-sidebar-root {
    position: sticky !important;
    top: 0 !important;
}

.ps-sidebar-container{
height: 100vh !important;
font-size: 14px;
background: url('./assets/sidebar-bg.svg'), var(--primaryColor) !important;
color: #fff;
}

.css-1d00spe {
 border-right-width: 0px !important;
}

.ps-menu-button:hover {
background-color: var(--primaryHoverColor) !important;
}

.ps-submenu-content {
background-color: var(--primaryColor) !important;
}

.ps-sidebar-container::-webkit-scrollbar {
width: 0px;
}

.ps-sidebar-container {
    scrollbar-width: none;
}

.ps-sidebar-container::-webkit-scrollbar-thumb {
background: #fff;
border-radius: 0px;
}
.ps-sidebar-container::-webkit-scrollbar-track {
background: #FFFFFF;
}


/* Sidebar.css */

.pro-sidebar .pro-inner-list-item {
    position: relative;
}

.pro-sidebar .pro-inner-list-item .pro-item-content {
    padding-left: 20px;
}

.pro-sidebar .pro-sub-menu {
    position: relative;
    padding-left: 20px;
}

.pro-sidebar .pro-sub-menu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc; /* Цвет линии */
}

.pro-sidebar .pro-sub-menu > .pro-inner-list-item:not(:last-child):before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 50%;
    width: 20px;
    border-top: 1px solid #ccc; /* Цвет линии */
}

.pro-sidebar .pro-sub-menu > .pro-inner-list-item:last-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    height: 50%;
    width: 20px;
    border-top: 1px solid #ccc; /* Цвет линии */
    border-bottom: 1px solid #ccc; /* Цвет линии */
}


